.top-banner {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

#logo {
	width: 80px;
	margin-top: 0px;
	margin-left: 175px;
	margin-top: 30px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-sm-6 {
	width: 50%;
	.center-block();
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}

h4 {
	margin-top: 2.5px;
}

.banner-detail {
	margin-left: 300px;
	margin-top:-80px;
	color: #666666;
}

#feedbox{
	text-align: center;
	color: white;
	height:40px;
}

.navbar-form{
 margin-top: 40px;
}

#percentage_box {
	text-align: center;
	margin: auto;
	width: 100px;
}

.show-list > li.hide{
	display:none;
	color:yellow;
}
.show-list > li{
	margin-left: 100px;
	list-style: none;
	display: block;
	/*height: 30px;*/
	height: auto;
	min-height: 100px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 360px;
	background-color: #edeae1;
	transition: all 0.4s ease-out;
	opacity: 0;
	height: 2em;
}
.show-list > li.show{
	opacity: 1;
}

.twitter-data-mongo {
	display: none;
}
