.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
	z-index: 999; /*not overlap*/
}

#logo {
	width: 60px;
	margin-left: 75px;
}

.navbar a {
  float: right;
  color: #f2f2f2;
  padding: 14px 36px;
  font-size: 17px;
}


.top-banner{
	background-color: #f8f8f8;
	margin-top: 60px;
	height: 150px;
}

/*.navbar-header{
	height: 150px;
}

.banner-detail {
	margin-left: 300px;
	margin-top:-80px;
	color: #666666;
}*/

h1 {
	padding: 40px 200px;
	font-family: 'Roboto', sans-serif;
}

.container-fluid {
	margin-top: 10px ;
}

.col-sm-6 {
	width: 50%;
	.center-block();
}

h4 {
	margin-top: 2.5px;
}



#feedbox{
	text-align: center;
	color: white;
	height:40px;
}

.navbar-form{
 margin-top: 40px;
}

#percentage_box {
	text-align: center;
	margin: auto;
	width: 100px;
}

ul {
	padding: 0px;
	overflow: hidden;
}

.show-list li.hide{
	display:none;
	color:yellow;
}
.show-list li{
	list-style: none;
	display: inline-block;
	margin: auto;
	margin-bottom: 5px;
	height: auto;
	min-height: 160px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 400px;
	background-color: #edeae1;
	transition: all 0.4s ease-out;
	opacity: 0;
	height: 2em;
	border-radius: 10px;
	font-family: 'Kanit', sans-serif;
}
.show-list li.show{
	opacity: 1;
}

.show-list a, .show-list a:hover {
	height: 100%;
	width: 100%;
	display: block;
	padding: 0px;
	color: black;
	text-decoration: none;
}

.show-list li:hover {
	background-color: #e5dec9;
}

.twitter-data-mongo {
	display: none;
}
