.show-list > li.hide{
  display:none;
  color:yellow;
}
.show-list > li{
  list-style: none;
  display: block;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 50px;
  background-color: #edeae1;
  transition: all 0.4s ease-out;
  opacity: 0;
  height: 2em;
}
.show-list > li.show{
  opacity: 1;
}

.show-list2 > li.hide{
  display:none;
  color:yellow;
}
.show-list2 > li{
  list-style: none;
  display: block;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 50px;
  background-color: #edeae1;
  transition: all 0.4s ease-out;
  opacity: 0;
  height: 2em;
}
.show-list2 > li.show{
  opacity: 1;
}
